  <div style="padding-bottom: 10px">
    <button mat-raised-button color="primary" (click)="addNewProduct()">Add New Product</button>
  </div>

<div>

  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price | currency: '$'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a routerLink="/admin/products/1"> Edit </a> </mat-cell>
    </ng-container>
      
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
